# secnix.com is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# secnix.com is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with secnix.com.  If not, see <http://www.gnu.org/licenses/>.
#
# This script is used for provisioning a RHEL7 or CentOS7 host to run
# the www.secnix.com website.
#
# Author: Justin Cook <jhcook@secnix.com>

Description=Secnix Wordpress
After=secnix-mariadb.service
Requires=docker.service
 
[Service]
TimeoutStartSec=60s
Restart=always

User=secnix
Group=root

ExecStartPre=-/usr/bin/docker pull docker.io/wordpress:php7.1-fpm-alpine
ExecStartPre=-/usr/bin/docker create --name secnix-wordpress \
                              -e WORDPRESS_DB_HOST={{ wordpress_db_host }}:3306 \
                              -e WORDPRESS_DB_USER={{ wordpress_db_user }} \
                              -e WORDPRESS_DB_PASSWORD={{ wordpress_db_password }} \
                              -e WORDPRESS_DB_NAME={{ wordpress_db_name }} \
                              -v /opt/secnix/secnix-www/site/wordpress:/var/www/html \
                              -v /etc/passwd:/etc/passwd:ro \
                              -u 1000:0 \
                              -p 9000:9000 docker.io/wordpress:php7.1-fpm-alpine

ExecStart=/usr/bin/docker start -a secnix-wordpress

ExecStop=/usr/bin/docker stop secnix-wordpress

[Install]
WantedBy=multi-user.target
