# secnix.com is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# secnix.com is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with secnix.com.  If not, see <http://www.gnu.org/licenses/>.
#
# This script is used for provisioning a RHEL7 or CentOS7 host to run
# the www.secnix.com website.
#
# Author: Justin Cook <jhcook@secnix.com>

Description=Secnix MariaDB
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=60s
Restart=never

User=secnix
Group=root

ExecStartPre=-/usr/bin/docker network create --driver bridge secnix-www
ExecStartPre=-/usr/bin/docker stop secnix-mariadb
ExecStartPre=-/usr/bin/docker rm secnix-mariadb
ExecStartPre=-/usr/bin/docker pull docker.io/mariadb:latest
ExecStartPre=-/usr/bin/docker create --name secnix-mariadb --network secnix-www \
                              -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} \
                              -e MYSQL_DATABASE={{ mysql_database }} \
                              -e MYSQL_USER={{ mysql_user }} \
                              -e MYSQL_PASSWORD={{ mysql_password }} \
                              -v /var/lib/mysql:/var/lib/mysql:z \
                              -p 3306:3306 \
                              docker.io/mariadb:latest \
                              --character-set-server=utf8mb4 \
                              --collation-server=utf8mb4_unicode_ci

ExecStart=/usr/bin/docker start -a secnix-mariadb

ExecStop=/usr/bin/docker stop secnix-mariadb

[Install]
WantedBy=multi-user.target
