# secnix.com is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# secnix.com is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with secnix.com.  If not, see <http://www.gnu.org/licenses/>.
#
# This script is used for provisioning a RHEL7 or CentOS7 host to run
# the www.secnix.com website.
#
# Author: Justin Cook <jhcook@secnix.com>

Description=Secnix NGINX
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=30s
Restart=never

User=secnix
Group=root

ExecStartPre=-/usr/bin/docker pull nginx
ExecStartPre=-/usr/bin/docker create --name secnix-nginx \
                              -v /vagrant/site:/usr/share/nginx/html:ro \
                              -p 80:80 docker.io/nginx 
ExecStart=/usr/bin/docker start -a secnix-nginx

ExecStop=/usr/bin/docker stop secnix-nginx

[Install]
WantedBy=multi-user.target
